{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>Santapp</title>
</head>

<body>

    <div class="container">
       <div class="row">
          <div class="span12">

                <nav class="navbar navbar-default">
                              <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="#"><strong>Santapp</strong></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make a letter <span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Make new</a></li>
                                        <li><a href="#">Check randomn letters from the world</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">know more about us</a></li>
                                        <!-- y de nuestros elfos que trabajan arduamente codeando para que tus cartas llegen a santa -->
                                      </ul>
                                    </li>
                                  </ul>
                                  <form class="navbar-form navbar-rigth" role="search">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Search for toys">
                                    </div>
                                    <button type="submit" class="btn btn-default">Find them all!!!</button>
                                  </form>
                                  
                                </div><!-- /.navbar-collapse -->
                              </div><!-- /.container-fluid -->
                </nav>  

            </div>
        </div>
    </div>

    <div class="container">
            <div class="jumbotron">
              <h1>Stay in touch with Santa :)</h1>
              <p>This is a web application to help you get what you want this Xmas!. We know you've been such a good boy, why don´t share it with the world? </p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Make a letter</a></p>
            </div>
    </div>
</body>

</html>